// .btn {
//     background: #2563eb;
//     color: white;
//     border: none;
//     padding: 12px 24px;
//     border-radius: 10px;
//     cursor: pointer;
//     font-weight: 600;
//     transition: background 0.3s;
// }

// .btn:hover {
//     background: #1d4ed8;
// }
