/* @import url('https://fonts.googleapis.com/css?family=Abel'); */

.center {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    margin: 0 auto;
}

.groupCard {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}

.card {
    width: 650px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.card::last-child {
    margin-bottom: 0;
}

.card .additional {
    position: absolute;
    width: 250px;
    height: 100%;
    background: linear-gradient(#de685e, #ee786e);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#92bca6, #a2ccb6);
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .userCard {
    width: 250px;
    height: 100%;
    position: relative;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.card .additional .userCard::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .userCard .level,
.card .additional .userCard .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .userCard .points {
    top: 85%;
}

.card .additional .userCard svg,
.card .additional .userCard img.thumbnail {
    top: 50%;
}

.card .additional .moreInfo {
    width: 400px;
    float: left;
    position: absolute;
    left: 250px;
    height: 100%;
    top: 0;
}

.card .additional .moreInfo h1 {
    color: #fff;
    margin-bottom: 0;
}

.card.green .additional .moreInfo h1 {
    color: #224c36;
}

.subHeading {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.coordsGroup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.coordsSpan {
    font-size: 2rem;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card.green .additional .coords {
    color: #325c46;
}

.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 0rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card.green .additional .stats {
    color: #325c46;
}

.card .additional .stats > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

/* .card .additional .stats div.value.infinity {
  font-size: 2.5rem;
} */

.card .general {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.card .general .more {
    // position: absolute;
    // bottom: 1rem;
    // right: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
