.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}
