.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 650px;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background: #d3d3d3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease;
    text-decoration: none;
    gap: 30px;
}
.primary {
    color: #ffffff;
    background: #500075;
}

.primary:hover {
    color: #ffffff;
}

.rounded {
    color: #ffffff;
    // background: #500075;
    border-radius: 999px;
}

.bordered {
    color: #500075;
    border-color: #500075;
}
