.not-list {
    list-style: none;
}

.center {
    margin: 0 auto;
}

/* library: https://css-loaders.com/shapes/ */
/* HTML: <div class="loader"></div> */
/* .loader {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0,
        calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0, calc(-5 * var(--w)) 0,
        calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0,
        calc(-9 * var(--w)) 0;
    animation: l16 2s infinite;
}
.loader:before {
    content: "Loading...";
}
@keyframes l16 {
    20% {
        text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
            calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0 #ffa516,
            calc(-5 * var(--w)) 0 #63fff4, calc(-6 * var(--w)) 0,
            calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green,
            calc(-9 * var(--w)) 0;
    }
    40% {
        text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
            calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
            calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0 orange,
            calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green,
            calc(-9 * var(--w)) 0;
    }
    60% {
        text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0,
            calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
            calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0,
            calc(-7 * var(--w)) 0 yellow, calc(-8 * var(--w)) 0 #ffa516,
            calc(-9 * var(--w)) 0 red;
    }
    80% {
        text-shadow: calc(-1 * var(--w)) 0 lightblue,
            calc(-2 * var(--w)) 0 yellow, calc(-3 * var(--w)) 0 #63fff4,
            calc(-4 * var(--w)) 0 #ffa516, calc(-5 * var(--w)) 0 red,
            calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0 grey,
            calc(-8 * var(--w)) 0 #63fff4, calc(-9 * var(--w)) 0;
    }
} */

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg, #c02942 calc(50% + 0.5ch), #000 0)
        right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: l7 2s infinite steps(11);
}
.loader:before {
    content: "Loading...";
}
@keyframes l7 {
    to {
        background-position: left;
    }
} */

/* HTML: <div class="loader"></div> */

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1.154;
    display: grid;
    color: #000;
    background:
        linear-gradient(
                to bottom left,
                #0000 calc(50% - 1px),
                currentColor 0 calc(50% + 1px),
                #0000 0
            )
            right/50% 100%,
        linear-gradient(
                to bottom right,
                #0000 calc(50% - 1px),
                currentColor 0 calc(50% + 1px),
                #0000 0
            )
            left / 50% 100%,
        linear-gradient(currentColor 0 0) bottom/100% 2px;
    background-repeat: no-repeat;
    transform-origin: 50% 66%;
    animation: l5 4s infinite linear;
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    transform-origin: inherit;
    animation: inherit;
}
.loader::after {
    animation-duration: 2s;
}
@keyframes l5 {
    100% {
        transform: rotate(1turn);
    }
}
