// .btn {
//     background: #2563eb;
//     color: white;
//     border: none;
//     padding: 12px 24px;
//     border-radius: 10px;
//     cursor: pointer;
//     font-weight: 600;
//     transition: background 0.3s;
// }

// .btn:hover {
//     background: #1d4ed8;
// }

.primary {
    color: #ffffff;
    background: #500075;
}

.primary:hover {
    color: #ffffff;
}

.rounded {
    color: #ffffff;
    // background: #500075;
    border-radius: 999px;
}

.bordered {
    color: #500075;
    border-color: #500075;
}
