.navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.active {
    color: orange;
    font-size: inherit;
    font-weight: 600;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

