* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

main {
    margin: 20px;
}

.btn {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 600;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.modalBackdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;
}

.modalBackdrop.show {
    opacity: 1;
    visibility: visible;
}

.modalBackdrop.show .modalContainer {
    transform: scale(1);
}

.modalContainer {
    position: relative;
    width: min(600px, 90%);
    padding: 28px;
    border-radius: 10px;
    background: #fff;
    transform: scale(0);
    transition: transform 0.3s;
}

.modalClose {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #666;
    background: #ebebeb;
    font-size: 2rem;
}

.modalClose:hover {
    color: #333;
}

.modalContent {
    max-height: 80vh;
    overflow-y: auto;
}

.modalContent h2 {
    text-transform: capitalize;
}

.modalContent p::first-letter {
    text-transform: uppercase;
}
